<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <head>
        <title>Current user {{cur_user}}</title>
    </head>
    <form action="" method="post" name="UserList">
        {{form.hidden_tag()}}
        <DIV class="container">
            <body>
                <H2 align="center">Current user - {{cur_user}}</H2>
                <p>
                <table class="table table-bordered">
                <tr>
                    <Td align="center"><b>ID</b></Td><td align="center"><b>Login</b></Td><td align="center"><b>Selected</b></Td>
                </tr>
                    {% for merit in form.user_list %}
                        <tr>
                            <td>{{ merit.id_user.data }}</td>
                            <td>{{ merit.name_user.data }}</td>
                            <td>{{ merit.select_user }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <DIV align='right'>
                    <p>New user login: {{ form.new_login() }}</p>
                    <p>Password: {{ form.new_pass() }}</p>
                    <p>Confirm password: {{ form.new_confirm_pass() }}</p>
                    <p>{{ form.new_user() }}</p>
                    <p>{{ form.delete_user() }}</p>
                    <p><input type="submit" value="Delete selected user" placeholder="Remove selected users"></p>
                </DIV>
            </body>
        </DIV>
    </form>
{% endblock %}