<!doctype html>
<html lang="ru">
  <head>
    <script src = "{{ url_for('static', filename = 'JS/jquery-3.5.1.js') }}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}">
    {% if title %}
    <title>{{title}} - Система управления пользователями WireGuard</title>
    {% else %}
    <title>Система управления пользователями WireGuard</title>
    {% endif %}
  </head>
  <body>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <p class=error align="center"><FONT color="red"> {{ message }} </FONT></p>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>