<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <head>
        <title>Current user {{cur_user}}</title>
        <h2><p class=error align="center"><FONT color="red">
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}
    </FONT></p>
    </h2>
    </head>
    <form action="" method="post" name="NewVpnUser">
        {{form.hidden_tag()}}
        <DIV class="container">
            <body>
                <H2 align="center">Current user - {{cur_user}}</H2>
                <table class="table">
                    <tr>
                        <td align="left">Имя пользователя:</td><td align="right">{{ form.vpn_login() }}</td>
                    </tr>
                    <tr>
                        <td align="left">E-mail:</td><td align="right">{{ form.email_vpn_users() }}</td>
                    </tr>
                    <tr>
                        <td align="left">Организация: </td><td align="right">{{ form.edit_vpn_organizations(with=200) }}</td>
                    </tr>
                    <tr>
                        <td align="left">Дата отключения: </td><td align="right"><input type="date" id="date_dis" name="date_dis"/></td>
                    </tr>
                    <tr>
                        <td align="left">Адрес клиента:</td><td align="right">{{ form.adres_vpn.data }}</td>
                    </tr>
                    <tr>
                        <td align="left">IP доступа: </td><td align="right">{{ form.allowedips_ip(rows="8") }}</td>
                    </tr>
                </table>
                <p></p>
                <p></p>

                <DIV align='right'>
                    <p>{{ form.save_user() }}</p>
                    <p>{{ form.cancel_user() }}</p>
                </DIV>
            </body>
        </DIV>
    </form>
{% endblock %}