<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <head>
        <script>

            function f1() {
                if ( $("#v_user").is(":checked") ) {
                    $('#updt_e').click()
                }
                else{
                    $('#updt_d').click()
                }
            };
            $(document).ready(function(){
                if ( '{{ form.v_user.data }}' == 'True' ) {
                    $("#view_disable").prop('checked', true);
                }
                else {
                    $("#view_disable").prop('checked', false);
                }
            });
        </script>
        <title>Current user {{cur_user}}</title>
    </head>
    <form action=""   method="post" name="VpnUserList">
        {{form.hidden_tag()}}
        <DIV class="container">
            <body>
                <H2 align="center">Current user - {{cur_user}}</H2>
                <DIV align='right'>
                    <p>Показывать отключенных <input type="checkbox" onclick="f1()" name="view_disable" id="view_disable" ></p>
                    <p style="visibility: hidden">{{ form.v_user }}</p>
                </DIV>
                <table class="table table-bordered">
                       <tr>
                           <td></td>
                           <Td><b>Name</b></Td>
                           <td><b>E-mail</b></Td>
                           <td><b>Организация</b></Td>
                           <td><b>Добавлен</b></Td>
                           <td><b>Дата актививации</b></Td>
                           <td><b>Дата отключения</b></Td>
                           <td><b>Статус</b></Td>
                           <td><b>Адрес клиента</b></Td>
                           <td><b>Разрешенные IP</b></Td>
                           <td></td>
                       </tr>
                    {% for u in sp_vpn_users %}
                        <tr>
                            <td><input type="checkbox" name="{{ u.name_vpn_users }}"></td>
                            <td>{{u.name_vpn_users}}</td>
                            <td>{{u.email_vpn_users}}</td>
                            <td>{{u.name_org}}</td>
                            <td>{{u.dt_create_vpn_usersstr}}</td>
                            <td>{{u.dt_activate_vpn_usersstr}}</td>
                            <td>{{u.dt_disable_vpn_usersstr}}</td>
                            <td>{{u.active_vpn_users}}</td>
                            <td>{{u.adres_vpn}}</td>
                            <td>{{u.allowedips.all()}}</td>
                            <td><p><input type="submit" value="Скачать настройки" name="get_{{ u.name_vpn_users }}"></p><p><input type="submit" value="Отправить по почте настройки" name="mail_{{ u.name_vpn_users }}"> </p>> </td>
                        <tr>
                    {% endfor %}
                </table>
                <DIV align='right'>
                    <p><input type="submit" value="Отключить пользователя" name="d_user"> <input type="submit" value="Включить пользователя" name="e_user"></p>
                    <p>{{ form.new_user() }} {{ form.edit_user() }} {{ form.delete_user() }}</p>
                    <input type="submit" value="updt_e" name="updt_e" id = "updt_e" style="visibility: hidden">
                    <input type="submit" value="updt_d" name="updt_d" id = "updt_d" style="visibility: hidden">
                </DIV>
            </body>
        </DIV>
    </form>
{% endblock %}