<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <head>
        <title>Current user {{cur_user}}</title>
    </head>
    <form action="" method="post" name="VpnUserList">
        {{form.hidden_tag()}}
        <DIV class="container">
            <body>
                <H2 align="center">Current user - {{cur_user}}</H2>
                <table class="table table-bordered">
                       <tr>
                           <td></td>
                           <Td><b>Name</b></Td>
                           <td><b>E-mail</b></Td>
                           <td><b>Организация</b></Td>
                           <td><b>Добавлен</b></Td>
                           <td><b>Активирован</b></Td>
                           <td><b>Отключен</b></Td>
                       </tr>
                    {% for u in sp_vpn_users %}
                        <tr>
                            <td><input type="checkbox" name="{{ u.name_vpn_users }}"></td>
                            <td>{{u.name_vpn_users}}</td>
                            <td>{{u.email_vpn_users}}</td>
                            <td>{{u.organizations}}</td>
                            <td>{{u.dt_create_vpn_users}}</td>
                            <td>{{u.dt_activate_vpn_users}}</td>
                            <td>{{u.dt_disable_vpn_users}}</td>
                        <tr>
                    {% endfor %}
                </table>
                <DIV class="container" align='left'>
                    <p> Подрообно:</p>
                </DIV>
                <DIV align='right'>
                    <p>{{ form.new_user() }}</p>
                    <p>{{ form.edit_user() }}</p>
                    <p>{{ form.delete_user() }}</p>
                </DIV>
            </body>
        </DIV>
    </form>
{% endblock %}